.chatlist{
  background-color: #ffffff;
  height: 90vh;
  border-radius: 30px;
  width:100%;
}

.search-container{
  margin-top:20px;
  background-color: #f4f7ff;
  display: flex;
  align-items: center;
  padding:11px;
  border-radius: 35px;
}

.chatlist-title-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refresh-icon{
  font-size: 1.5rem;
  cursor: pointer;
}

.search-container input{
  border: none;
  background-color: #f4f7ff;
  width: 100%;
  color: #000000;
  font-size: 16px;
  outline: none;
}

.chatlist-header{
  padding: 20px;
}

.search-icon{
  margin-left:5px;
  font-size:1.2rem;
  font-weight:bold;
}

.chatlist-container{
  list-style-type: none;
  margin:0;
  overflow-y: auto;
  height: 75%;
}

.chatlist-container::-webkit-scrollbar {
  width: 10px;
}

.no-chat-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.loader-container{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height:50vh;
}

.no-chat-container img{
  width: 60%;
}

.main-chat-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}


.chatlist-main-container{
  display: flex;
  flex-direction:row;
  height: 100%;
  width:100%;
 
}

.chat-view-container{
  width: 100%;
}




@media all and (min-width:768px){
  
  .chatlist-main-container{
    width:100%;
    margin-right: 20px;
  }
  

  .no-chat-select-view p{
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .dnone{
    display:block;
  
  }
  
  .dblock{
    display:block;
  }
}